@import '../../../sass/reset';
@import '../../../sass/vars';

.postContainer{
    border:solid 1px black;
    
    img{
        max-height: 100%;
    }

    .c-icons svg{
        margin:0 10px;
    }
    
    p{
        text-align: left;
        font-weight: bold;
        padding-left:10px;
    }
}